variables:
  COMPONENT_PROJECT_ID: 467
  COMPONENT_PROJECT_PIPELINE_TRIGGER: "$WISHBONE_COMPONENT_PROJECT_PIPELINE_TRIGGER"
  CI_DOCKER_REGISTRY: docker.io
  CI_DOCKER_IMAGE: spageorgia/wishbone
  CI_DOCKER_TAG: ci
  RUN_TEST: "(pip install .[test] && pytest tests/) && (chown -R `id -u`:`id -g` /package && exit 0) || (chown -R `id -u`:`id -g` /package && exit 1)"



before_script:
  - docker login -u "$DOCKER_HUB_USERNAME" -p "$DOCKER_HUB_PASSWORD" "$CI_DOCKER_REGISTRY"
  - docker info
after_script:
  - docker logout  "$CI_DOCKER_REGISTRY"

test:
  script:
    - docker run --rm -u root -v `pwd`:/package:Z -w /package --entrypoint /bin/bash $CI_DOCKER_REGISTRY/$CI_DOCKER_IMAGE:$CI_DOCKER_TAG -c "${RUN_TEST}"
    - "curl -XPOST --form token=$COMPONENT_PROJECT_PIPELINE_TRIGGER --form ref=master https://gitlab.quintagroup.com/api/v4/projects/$COMPONENT_PROJECT_ID/trigger/pipeline"
  tags:
    - spage
  only:
    - master
